body {
    font-family: Abel;
}

:root {
    --jumbotron-padding-y: 3rem;
}

.main-header {
    padding-top: 22em;
    padding-bottom: 7em;
    margin-bottom: 0;
    background-color: black;
    background-image: url('assets/img/band-mobile.jpg');
    background-position: 50% 0;
}
@media (min-width: 768px) {
    .main-header {
        background-image: url('assets/img/band.jpg');
    }
}

.main-header p:last-child {
    margin-bottom: 0;
}

.main-header-heading {
    font-weight: 300;
}

.main-header .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*** Fonts ***/
/* abel-regular - latin */
@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/abel-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('assets/fonts/abel-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/abel-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/abel-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/abel-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/abel-v18-latin-regular.svg#Abel') format('svg'); /* Legacy iOS */
}

/****** Mobile ********/
body {
    background: black;
    color: white;
}

a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #5a6268;
}

.card-body {
    background: black;
}

.card {
    border: 0px;
}

.logo-img {
    width: 150px;
    margin-bottom: 8em;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 1em, rgba(90, 125, 188, 0.05) 0px 1em 1em;

}

/**** Responsive YT ****/
.rwd-video {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.rwd-video iframe,
.rwd-video object,
.rwd-video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/**** Responsive YT ****/


/**** Desktop ****/
@media (min-width: 768px) {
    .logo-img {
        width: 250px;
        margin-bottom: 0px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .main-header {
        padding-top: 7em;
        padding-bottom: 22em;
    }
}
